html,body { 
    height: 100%; 
	width: 100%; 
	margin: 0; 
	font-family: sans-serif; }

.frame { 
    height: 100%; 
	width: 100%; 
	margin: 0; }

.header { 
    width: 100%;
    height: 17%;
    background-color: #edf1f7;
    position: relative;
    margin: 0; 
    float: left; }

.header h2 { font-family: "Lucida Sans Unicode", sans-serif; 
             margin-left: 35px; }
			 
p.head { margin-left: 35px; 
	     margin-top: -5px; 
	     letter-spacing: 2px; }

.code { 
    width: 51%; 
    height: 83%; 
    background-color: #333; 
    float: left;
    overflow-y: scroll;
    overflow-x: hidden; }

.lang-css { padding: 15px 20px; }
.lang-html { margin-left: -5px; }

.output { 
    width: 49%; 
    height: 83%; 
    background-color: white;
    float: left;
	overflow-y: scroll; }

.theme { margin-top: 50px;
         margin-left: 30px; }	
	
.first { margin-top: 15px; }
							
.last { margin-bottom: 150px; }
	
/*display-inline*/		
.container1  { height: 200px;
               width: 300px;
               border: 1px dashed black; }
			  
.container1 p { background-color: #8ACB88; 
                font-size: 14px; }
			  
.container1 .inline { display: inline; }

/*display-block*/			
.container2  { height: 160px;
               width: 300px;
               border: 1px dashed black; }
			
.container2 span { background-color: #8ACB88; 
                   font-size: 14px; }
				  
.container2 .block { display: block; }

/*display-inline-block*/
.container3  { height: 230px;
               width: 300px;
               border: 1px dashed black; }
			
.container3 .normal { background-color: #8ACB88; 
                      font-size: 13px; 
                      height: 45px;
                      width: 45px; 
                      padding: 3px; }
			
.container3 .inlineblock { background-color: #8ACB88; 
                           font-size: 13px; 
                           height: 45px;
                           width: 45px; 
                           padding: 3px; 
                           display: inline-block; }

/*display-none*/			
.container4  { height: 180px;
               width: 300px;
               border: 1px dashed black; }
			   
.container4 p { font-size: 14px; 
                margin-left: 20px; }

.container4 .none { display: none; }
	   
.Beispiel { 
   font-size: 14px;
   color: #433d3c;
   text-align: center; 
   padding: 4px 8px 4px 8px;
   background-color: #edf1f7;
   width: 285px;
   height: 15px;
   border: none;
   border-radius: 5px;
   margin-bottom: 8px; }