html,body { 
    height: 100%; 
	width: 100%; 
	margin: 0; 
	font-family: sans-serif; }

.frame { 
    height: 100%; 
	width: 100%; 
	margin: 0; }

.header { 
    width: 100%;
    height: 17%;
    background-color: #edf1f7;
    position: relative;
    margin: 0; 
    float: left; }

.header h2 { font-family: "Lucida Sans Unicode", sans-serif; 
             margin-left: 35px; }
			 
p.head { margin-left: 35px; 
	     margin-top: -5px; 
	     letter-spacing: 2px; }

.code { 
    width: 51%; 
    height: 83%; 
    background-color: #333; 
    float: left;
    overflow-y: scroll;
    overflow-x: hidden; }

.lang-css { padding: 15px 15px; }
.lang-html { margin-left: -5px; }

.output { 
    width: 49%; 
    height: 83%; 
    background-color: white;
    float: left;
	overflow-y: scroll; }

.forlinks { margin-top: 15px;
            margin-left: 30px; }
			
.forlinks h3 { padding-bottom: 10px; }

.forlinks a { padding-left: 20px; }
			
.forlinks a:link { color: #25b7c0; 
                   font-size: 26px; 
				   text-decoration: none; }
				   
.forlinks a:visited { color: #37a34a; 
                      font-size: 26px; 
					  text-decoration: none; }
					  
.forlinks a:hover { color: #9f6f55; 
                    font-size: 26px; 
					text-decoration: none; 
					font-weight: 900; }
					
.forlinks a:active { color: #ffec47; 
                     font-size: 26px; 
					 text-decoration: none; 
					 font-weight: 900; }

.fordiv { margin-top: 50px;
          margin-left: 30px; 
		  margin-bottom: 150px; }
		  
.hoverbox { height: 60px;
            width: 280px;
			background-color: #f6b483; 
			margin-top: 30px; }
			
.hoverbox p { padding: 19px 11px; }

.hoverbox:hover { background-color: #fff462; }